/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&display=swap');

/* General styles for typing effect */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 19ch;
    }
}

@keyframes blink {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: white;
    }
}

/* Typing effect for the Welcome text */
.typing-effect {
    font-family: 'Playfair Display', serif; /* Elegant font */
    font-size: 6rem;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid white;
    width: 16ch;
    animation: typing 4s steps(16, end), blink 0.5s step-end infinite;
    text-align: center;
    margin: 0 auto;
    color: #f6ffda;
    -webkit-text-stroke: 0.5px black; /* Thin black outline */
    text-stroke: 0.5px black; /* Fallback for other browsers */
}

/* Body styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    height: 100%;
    background-color: #000;
}